{% extends "scrumapp/base.html" %}
{% block main %}

<section>
    <div class="row">
        <a href="{% url 'project_list' %}" class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col font-weight-bold text-center">{{ project.name }}</h2>
    </div>
    <p>{{ project.description }}</p>
    <p>
        <strong><i class="fa-solid fa-user-ninja"></i> Scrum master:</strong> {{ project.scrum_master }} <br>
        <strong><i class="fa-solid fa-user-tie"></i> Product owner:</strong> {{project.product_owner }} <br>
        <strong><i class="fa-solid fa-users"></i> Developers:</strong> {% for member in project.developers %}{{member}}{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>

    <a href="{% url 'project_edit' project_id=project.id %}" class="btn btn-warning btn-sm">Edit</a>
    {% if request.user.is_superuser %}
    <a target="_blank" href="/admin/scrumapp/project/{{project.id}}/change/" class="btn btn-danger btn-sm">Admin</a>
    {% endif %}
</section>

<section class="p-3 my-2">
    <a href="{% url 'sprint_create' project.id %}?next={{request.url}}" class="btn btn-success btn-sm my-2 float-end">
        <i class="fa fa-plus"></i> Sprint</a>
    </div>
    <h4 class="text-center py-2">Sprints</h4>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-active-tab" data-bs-toggle="tab" data-bs-target="#nav-active"
                type="button" role="tab" aria-controls="nav-active" aria-selected="true">Active</button>
            <button class="nav-link" id="nav-future-tab" data-bs-toggle="tab" data-bs-target="#nav-future" type="button"
                role="tab" aria-controls="nav-future" aria-selected="false">Future</button>
            <button class="nav-link" id="nav-past-tab" data-bs-toggle="tab" data-bs-target="#nav-past" type="button"
                role="tab" aria-controls="nav-past" aria-selected="false">Past</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=active %}
        </div>
        <div class="tab-pane fade" id="nav-future" role="tabpanel" aria-labelledby="nav-future-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=future %}
        </div>
        <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">
            {% include "scrumapp/partial/sprint_list.html" with sprints=past %}
        </div>
    </div>

    <header class="d-flex justify-content-between mt-4">
        <h2>Backlog of stories</h2>
        <div>
            <a href="{% url 'story_list' project.id %}" class="me-2">See all stories in the backlog</a>
            <a href="{% url 'story_create' project.id %}?next={{request.url}}" class="btn btn-primary">Create story</a>
        </div>
    </header>
    <main>
        {% include "scrumapp/partial/story_list.html" with stories=stories %}
    </main>
</section>

{% endblock %}
