{% extends "scrumapp/base.html" %}
{% block main %}
<header class="d-flex justify-content-between">
    <h2 class="text-center font-weight-bold py-3">Projects</h2>
    <div>
        {% if request.user.is_superuser %}
        <a href="/admin/scrumapp/project/add" class="btn btn-primary btn-sm">Create project</a>
        {% endif %}
    </div>
</header>

<section>
    {% for project in projects %}
    <div class="card mx-5 my-2">
        <div class="card-body">
            <a href="{{ project.get_absolute_url }}" class="card-block text-decoration-none text-reset">
                <h5 class="card-title">
                    {{project.name }}
                </h5>
                <p class="card-text">{{ project.description }}</p>
                <p>
                    <small>
                        <strong><i class="fa-solid fa-user-ninja"></i> Scrum master:</strong> {{ project.scrum_master }} <br>
                        <strong><i class="fa-solid fa-user-tie"></i> Product owner:</strong> {{project.product_owner }} <br>
                        <strong><i class="fa-solid fa-users"></i> Developers:</strong> {% for member in project.developers %}{{member}}{% endfor %}
                    </small>
                </p>

                <div class="d-flex justify-content-between">
                    <div>
                        <a href="{% url 'project_edit' project_id=project.id %}" class="btn btn-warning btn-sm">Edit</a>
                        {% if request.user.is_superuser %}
                        <a target="_blank" href="/admin/scrumapp/project/{{project.id}}/change/" class="btn btn-danger btn-sm">Admin</a>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% empty %}
    You have no projects
    {% endfor %}
</section>
{% endblock %}
