{% extends "scrumapp/base.html" %}
{% block main %}

<section>    
    <div class="row">
        <a href="{{ project.get_absolute_url }}"  class="col-1 btn btn-outline-dark btn-sm py-1 my-2">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2 class="col font-weight-bold text-center">{{ sprint.name }}</h2>
    </div>
    <p>
        <strong>Date: </strong> {{ sprint.start_date }} -> {{ sprint.end_date }}
    </p>
    <p>
        <strong>Velocity:</strong> {{ sprint.velocity|default_if_none:"?" }}
    </p>
    <p class="my-2 py-1">{{ sprint.description }}</p>

    {% if request.user.is_superuser %}
    <a target="_blank" href="/admin/scrumapp/sprint/{{sprint.id}}/change/" class="btn btn-danger btn-sm">Admin</a>
    {% endif %}
    <a href="{% url 'sprint_edit' project_id=sprint.project.id pk=sprint.id %}" class="btn btn-warning btn-sm">Edit</a>  
</section>

<section class="mt-4">
    <h3>Unassigned</h3>
    <main>
        {% include 'scrumapp/partial/story_list.html' with stories=unassigned %}
    </main>

    <h3>Assigned</h3>
    <main>
        {% include 'scrumapp/partial/story_list.html' with stories=assigned %}
    </main>

    <h3>Active</h3>
    <main>
        {% include 'scrumapp/partial/story_list.html' with stories=active %}
    </main>

    <h3>Finished</h3>
    <main>
        {% include 'scrumapp/partial/story_list.html' with stories=assigned %}
    </main>
</section>

{% endblock %}
