{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<h2>{{form.is_bound|yesno:"Edit,Create"}} sprint</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ project.get_absolute_url }}"  class="btn btn-danger">Cancel</a>
</form>

{% endblock %}