{% extends "scrumapp/base.html" %}
{% block main %}

<section>
    <h2>{{ story.title }}</h2>
    <p><b>Sprint:</b> {{ story.sprint.name }}</p>
    <p><b>Assigned to:</b> {{ story.assigned_to.username }}</p>
    <p><b>Priority:</b> {{ story.get_priority_display }}</p>
    <p><b>Status:</b> {{ story.get_status_display }}</p>
    <p><b>Business value:</b> {{ story.value }} pts</p>
    <p><b>Estimated time:</b> {{ story.time_estimate }} pts</p>
    <p><b>Description:</b> {{ story.description }}</p>

    {% if request.user.is_superuser %}<a target="_blank" href="/admin/scrumapp/story/{{story.id}}/change/" class="btn btn-danger btn-sm">Admin</a>{% endif %}
    <a href="{% url 'story_edit' project_id=story.project.id pk=story.id %}" class="btn btn-warning btn-sm">Edit</a>
</section>

{% endblock %}
