{% extends "scrumapp/base.html" %}
{% load crispy_forms_filters %}
{% block main %}

<h2>{{form.is_bound|yesno:"Edit,Create"}} story</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
