<div class="container" style="height: 50vh; overflow-y: auto;">
    {% for sprint in sprints %}
    <div class="row">
        <div class="col card mb-2 my-2">
            <a href="{{ sprint.get_absolute_url }}" class="card-block text-decoration-none text-reset">
                <div class="card-body">
                    <h5 class="card-title">{{ sprint.name }}</h5>
                    <p class="card-text">{{ sprint.description|truncatewords:20 }}</p>
                    <small class="text-muted">{{sprint.start_date}} -> {{sprint.end_date}}</small>
                </div>
            </a>
        </div>
    </div>
        {% empty %}
        <div class="row">

            <span class="col text-muted my-2 text-center">No sprints here</span>
        </div>
        {% endfor %}

</div>