{% for story in stories %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h5>
            <p class="card-text">{{ story.description|truncatewords:20 }}</p>
        </div>
    </div>
{% empty %}
    <span class="text-muted">No stories here</span>
{% endfor %}
